{% extends 'core/base.html' %} 

{% block title %} Dashboard {% endblock %} 




{% block content %}
<h1 class="mb-6 text-xl">Dashboard</h1>

<h2 class="mb-6 text-xl">Categories</h2>

<div class="flex flex-row flex-wrap gap-3 mb-4">

    {% for category in categories %}
    
    <div class="bg-gray-100 px-6 py-2 rounded-xl">
        <h2 class="text-xl mb-4">{{category.name}}</h2> 
        <a class="text-xs mr-4 text-yellow-600" href="{% url 'edit_category' category.id %}">Edit</a>
        <a class="text-xs text-red-600" href="{% url 'delete_category' category.id %}">Delete</a>
    </div>

    
    {% endfor %}
    
    </div>


<h2 class="mb-6 text-xl">Links</h2>

<div class="grid grid-cols-3 gap-3">

    {% for link in links %}
    
    <div class="bg-gray-100 p-6 rounded-xl">
        <h2 class="text-xl mb-4">{{link.name}}</h2>
        {% if link.decription%}
        <p class="text-xs mb-4">{{link.decription}}</p>
        {% endif %}
        <a href="{{link.url}}" class="text-yellow-600 mr-4" target="_blank">Open</a>
        <a href="{% url 'edit_link' link.id %}" class="text-yellow-600 mr-4">Edit</a>
        <a href="{% url 'delete_link' link.id %}" class="text-red-600">Delete</a>

    </div>
    
    
    {% endfor %}

    
    </div>

    <div class="flex flex-row gap-3 mt-4"> 
        
        <h2 class="text-xl">Filter: </h2>

        
        
        {% for category in categories %}
    
        <a class="text-xl text-yellow-600" href="{% url 'dashboard' %}?filter={{ category.id }}">#{{category.name}}</a> 
        

    
    {% endfor %}</div>

   


{% endblock %}
